__pycache__/
*.pyc
.env
logs/
data/
temp/
output/
config/custom.yaml
*.egg-info/
dist/
build/
.pytest_cache/
*.db
.DS_Store

# build/runtime artifacts & secrets
podman-machine/
*.db-shm
*.db-wal
*.zip
